fastapi
uvicorn
sqlalchemy
mysql-connector-python
pymysql
colorlog
alembic
python-dotenv
pydantic
pydantic-settings
passlib[bcrypt]
pyjwt
python-multipart
email-validator
pwdlib
argon2-cffi
python-jose[cryptography]
